@font-face {
    font-family: "Space Grotesk";
    src: url(./media/SpaceGrotesk.woff2);
}
@font-face {
    font-family: "number";
    src: local("Times New Roman");
    unicode-range: U+30-39,U+2150-218F;
}
@font-face {
    font-family: "latinModern";
    src: url(./media/cmunui.woff2);
    unicode-range: U+20-2F,U+3A-7E;
}



:root {
    --midnight: #505c63a5;
    --midnightX: #505c63a5;
    --sunset: #e68269ac;
    --beige: #ECCEAE;
    --creme: #FBF6E2;

    --crystal: #505c63a5;
    --sunlight: #f4f9ff;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#frameTime {
    font-family: "Space Grotesk";
    font-size: .8em;
    position: absolute;
    top: 0;
    padding-left: 4px;
    margin: 0;
}

#hider {
    position: fixed;
    height: 5vh;
    width: 2.6vh;
    left: -2.5vh;
    top: 50%;
    transform: translateY(-50%);

}

#hiddenHider {
    position: fixed;
    height: 80vh;
    top: -10vh;
    width: 170%;
    z-index: -30;
}

#hider::before {

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5rem  0 0 5rem;

    background-color: var(--midnight);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: -10;
}

#menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--midnight);
    z-index: -10;

    margin-right: 6vh;
}

#menu {
    font-family: "Space Grotesk";
    position: absolute;
    width: 35vh;
    height: auto;
    z-index: 15;
    border-radius: 20px;
    border-width: 1px;
    right: -35vh;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f4f9ff;
    transition: transform 0.5s;
}

#menu:active,
#menu:hover,
#menu:focus {
    transition: transform 0.5s;
    transform: translate(-110%, -50%);
}

#menu:focus-within {
    transform: translate(-110%, -50%);
}


#sliders::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--midnight); 
    z-index: -10;
    margin-bottom: 6vh;
}

#sliders {
    font-family: "Space Grotesk";
    position: absolute;
    width: 60vw;
    height: 14vh;
    z-index: 15;
    border-radius: 20px;
    border-width: 1px;
    left: 50%;
    bottom: -14vh;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f4f9ff;
    transition: transform 0.5s;
}

#sliders:active,
#sliders:hover,
#sliders:focus {
    transition: transform 0.5s;
    transform: translate(-50%, -17vh);
}

#sliders:focus-within {
    transform: translate(-50%, -17vh);
}

#hider2 {
    position: fixed;
    width: 5vh;
    height: 2.6vh;
    top: -2.42vh;
    left: 50%;
    transform: translateX(-50%);
}

#hiddenHider2 {
    position: fixed;
    height: 145%;
    top: -3vh;
    width: 80vw;
    z-index: -30;
}

#hider2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5rem 5rem 0 0;
    background-color: var(--midnight);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: -10;
}

#sliceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

#slice {
    height: 0.2vh;
    appearance: none;
    outline: none;
    opacity: 0.7;
    background: var(--sunlight);
    border-radius: 20px;
}

#slice::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #131842; 
    border-radius: 100px;
    border: var(--sunlight);
    border-style: solid;
    border-width: 0.3vh;
    cursor: pointer;
}

#slice::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #505c63;
    border-radius: 100px;
    border: #d3d3d3;
    border-style: solid;
    border-width: 0.3vh;
    cursor: pointer;
}

#menuFooter {
    width: 100%;
    height: 4vh;

    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 1vh;
    margin-top: 1vh;
}


.funcInput {
    font-family: number,latinModern,sans-serif;
    width: 100%;
    height: 3.5vh;
    font-size: 18px;
    margin-top: 0.5vh;
    background: var(--midnightX);
    color: #f4f9ff;
    border-radius: 5px;
    border: none;
    border-width: 2px;
}

.funcInput:focus {
    outline-width: 0;
    box-shadow: 0px 2px white;
}

.axisSelector {
    display: grid;
    grid-row: 2;
    width: 90%;
}

.selector {
    background: var(--midnightX);
    font-family: "Space Grotesk";
    color: #f4f9ff;
    border-radius: 5px;
    border: none;
    border-width: 2px;
}

.selector:focus {
    outline-width: 0;
}

.axisInput {
    font-family: "latinModern";
    width: 10vh;
    height: 3.5vh;
    font-size: 18px;
    padding-left: 10px;
    background: var(--midnightX);
    color: #f4f9ff;
    border-radius: 5px;
    border: none;
    border-width: 2px;
    margin: 3px;
}

.axisInput:focus {
    outline-width: 0;
    box-shadow: 0px 2px white;
}

#axisInputContainer {
    margin-top: 0vh;
}

.axisLabel {
    position: relative;
    margin: 0;
    padding: 0;
    top: 50%;
    left: -4.2vh;
    font-size: 0.9em;
    width: 1vh;
}

#resetView {
    font-family: "Space Grotesk";
    background: var(--midnightX);
    color: #f4f9ff;
    border-radius: 5px;
    height: 3vh;
    width: 50%;
    font-size: 1em;
    margin-top: 1vh;
    border: none;
}

#resetView:active {
    border: 2px inset gray;
}

.numInp {
    font-family: "latinModern" !important;
    width: 5vh;
    height: 2vh !important;
    font-size: 18px !important;
    padding-left: 10px;
    background: var(--midnightX);
    color: #f4f9ff;
    border-radius: 5px;
    border: none !important;
    border-width: 2px !important;
    text-align: center !important;
    margin: 3px;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.numInp:focus {
    outline-width: 0;
    box-shadow: 0px 2px white;
}


.number-input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #f4f9ff;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: "Space Grotesk";
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 2rem;
    height: 3rem;
    text-align: center;
}


/*--------------------------------------------------------------*/

#inputs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    --gap: 6px;
    gap: var(--gap);
}

.function_box_container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.function_box_text_input {
    font-family: number,latinModern;
    width: 100%;
    height: 3.5vh;
    font-size: 18px;
    background: var(--midnightX);
    color: #f4f9ff;
    border-radius: 5px;
    border: none;
    border-width: 2px;
    padding: none;
}

.function_box_input_evaluated{
    position: fixed;
    right: 7%;
    transform: translateY(-50%);
    opacity: 25%;
}

.function_box_input:focus {
    outline-width: 0;
    box-shadow: 0px 2px white;
}

.function_box_slider_container {
    width: 100%;
    display: flex;
}

.function_box_slider{
    appearance: none;
    outline: none;
    flex-grow: 1;
    width: 100%;

    background: var(--sunlight);
    height: 3px;
    opacity: 0.7;
    border-radius: 20px;
    transform-origin: 50%;
    transform: translateY(1cqh);
}

.function_box_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #131842;
    border-radius: 100px;
    border: var(--sunlight);
    border-style: solid;
    border-width: 0.3vh;
    cursor: pointer;
}

.function_box_slider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #505c63;
    border-radius: 100px;
    border: #d3d3d3;
    border-style: solid;
    border-width: 0.3vh;
    cursor: pointer;
}

.function_box_slider_input{
    font-family: "latinModern" ;
    width: 5vh;
    height: 2vh ;
    font-size: 18px ;
    background: var(--midnightX);
    color: #f4f9ff;
    border-radius: 5px;
    border: none ;
    border-width: 2px ;
    text-align: center ;
    margin: 3px;
}

.function_box_slider_input.left{
    justify-self: left;
}

.function_box_slider_input.right{
    justify-self: right;
}